body {
	text-align:center;
	color: grey;
	background: linear-gradient(0.25turn, #3f87a6,#f69d3c);
	font-size: 2em;
	text-transform: Uppercase;
	letter-spacing: .5em;

}


h3 {

	font-size: .5em;
}

button {
	background: grey;
	border: black;
}